<div class="row">
  <div class="col-xs-6 col-lg-4">
      <h3>Device Driver Implementation</h3>
      <p>Date:- Aug 2017 - Oct 2017</p>
      <p>Project duration:- 3 months</p>
      <p>Course:- Operating Systems</p>
      <p><a class="btn btn-secondary" routerLink="device-driver" role="button">View details »</a></p>
  </div><!--/span-->
  <div class="col-xs-6 col-lg-4">
      <h3>Car Rental Portal</h3>
      <p>Date:- Aug 2017 - Sep 2017</p>
      <p>Project duration:- 2 months</p>
      <p>Course:- Object-oriented Design and Development</p>
      <p><a class="btn btn-secondary" routerLink="car-rental" role="button">View details »</a></p>
  </div><!--/span-->
  <div class="col-xs-6 col-lg-4">
      <h3>Expertiza:- A Peer Review System</h3>
      <p>Date:- Oct 2017 - Dec 2017</p>
      <p>Project duration:- 3 months</p>
      <p>Course:- Object-oriented Design and Development</p>
      <p><a class="btn btn-secondary" routerLink="expertiza" role="button">View details »</a></p>
  </div><!--/span-->
  <div class="col-xs-6 col-lg-4">
    <h3>Assignment Management CLI</h3>
    <p>Date:- Aug 2017 - Sep 2017</p>
    <p>Project duration:- 2 months</p>
    <p>Course:- Database Management System</p>
    <p><a class="btn btn-secondary" routerLink="assignment-management" role="button">View details »</a></p>
  </div><!--/span-->
  <div class="col-xs-6 col-lg-4">
    <h3>Buffer Management in Simple DB</h3>
    <p>Date:- Sep 2017 - Dec 2017</p>
    <p>Project duration:- 2 months</p>
    <p>Course:- Database Management System</p>
    <p><a class="btn btn-secondary" routerLink="buffer-management" role="button">View details »</a></p>
  </div><!--/span-->
  <div class="col-xs-6 col-lg-4">
    <h3>Automatic Number Plate Recognition</h3>
    <p>Date:- Jan 2018 - April 2018</p>
    <p>Project duration:- 4 months</p>
    <p>Course:- Automated Learning and Data Analysis</p>
    <p><a class="btn btn-secondary" routerLink="ocr" role="button">View details »</a></p>
  </div><!--/span-->
  <div class="col-xs-6 col-lg-4">
    <h3>MakeSoil</h3>
    <p>Date:- Feb 2018 - April 2018</p>
    <p>Project duration:- 3 months</p>
    <p>Course:- User Experience</p>
    <p><a class="btn btn-secondary" routerLink="makesoil" role="button">View details »</a></p>
  </div><!--/span-->
  <div class="col-xs-6 col-lg-4">
    <h3>Spring vs Rails</h3>
    <p>Date:- Sept 2018 - Nov 2018</p>
    <p>Project duration:- 3 months</p>
    <p>Course:- Software Engineering</p>
    <p><a class="btn btn-secondary" routerLink="spring-rails" role="button">View details »</a></p>
  </div><!--/span-->
  <div class="col-xs-6 col-lg-4">
    <h3>OpenMRS Bug fixes</h3>
    <p>Date:- Nov 2018 - Dec 2018</p>
    <p>Project duration:- 2 months</p>
    <p>Course:- Software Security</p>
    <p><a class="btn btn-secondary" routerLink="openmrs" role="button">View details »</a></p>
  </div><!--/span-->
  <div class="col-xs-6 col-lg-4">
    <h3>Peer-peer with Centrailized Index</h3>
    <p>Date:- Oct 2018 - Nov 2018</p>
    <p>Project duration:- 2 months</p>
    <p>Course:- Internet Protocol</p>
    <p><a class="btn btn-secondary" routerLink="p2p" role="button">View details »</a></p>
  </div><!--/span-->
  <div class="col-xs-6 col-lg-4">
    <h3>Restaurant Management App</h3>
    <p>Date:- Feb 2016 - April 2016</p>
    <p>Project duration:- 3 months</p>
    <p>Course:- Mobile Development</p>
    <p><a class="btn btn-secondary" routerLink="restaurant-management"  role="button">View details »</a></p>
  </div><!--/span-->
  <div class="col-xs-6 col-lg-4">
    <h3>Attendance Monitoring App</h3>
    <p>Date:- Aug 2016 - May 2017</p>
    <p>Project duration:- 10 months</p>
    <p>Bachelor's Degree Project</p>
    <p><a class="btn btn-secondary" routerLink="attendance-monitoring" role="button">View details »</a></p>
  </div><!--/span-->
  <div class="col-xs-6 col-lg-4">
    <h3>Library Management Portal</h3>
    <p>Date:- Aug 2015 - Nov 2015</p>
    <p>Project duration:- 4 months</p>
    <p>Course:- Web Development</p>
    <p><a class="btn btn-secondary" routerLink="library-management" role="button">View details »</a></p>
  </div><!--/span-->
</div><!--/row-->