<h2>Implementaion of a Device-driver NP Heap</h2>

<p>
    Modern operating systems promote virtualization of their underlying machines and isolation among processes. 
    <br>
    As a result, communicating among processes becomes an issue. You may need to use message passing interfaces, sockets or pipes that work only when processes are running concurrently.
    Otherwise, you have to use files that rely on file system.
    <br><br>
    For more information, checkout the project
    <a href="https://github.com/darshanbhandari123/Device-driver" target="_blank">Github</a>
</p>
