<div class="container">
  <p>
    Hi, I am Darshan Bhandari. Firstly, I would like to thank you for visiting my portfolio.
    <br>
    I am currently pursuing my Masters in Computer Science at North Carolina State University and will be graduating on
    <b>May 2019</b>.
    <br><br>I am looking for full-time positions as a Software Engineer, Front-end developer, Back-end developer, Full stack 
    Developer. I 
    <br>
    am a team-player, hardworking and passionate developer with a result driven attitude, having experience with development
    <br>
    and programming in general for a little more than 5 years. I was introduced to programming in my 11th grade and things have
    <br>
    only got better since. I completed my Bachelors in Engineering from SIES Graduate School Of Engineering affiliated to the 
    <br>
    Mumbai University.
    <br><br>
    For further details please contact me
    <br>
    Email:- dbhanda@ncsu.edu
    <br> 
    Contact Number:- 9842183589
    <br>
    <a href="https://www.linkedin.com/in/darshanbhandari123" target="_blank">LinkedIn</a>
  </p>
</div>
