<h2>Peer-peer communication with Centralized CI</h2>

<p>
  The primary objective of the application was to connect multiple peers to a centralized server, and then provide some communication between them.
  <br>
  The communication shown in the project is in the form of downloading that takes place.
  <br>
  Basically, a peer can upload a file to the server and any other peer that is connected with the server has the option to download it.
  <br><br>
  For more details, check out the project:-
  <a href="https://github.ncsu.edu/dbhanda/CSC573_Project1" target="_blank">Github</a> 
</p>