<h2>Car Rental Service Portal</h2>

<p>
  The webiste was developed by a team of 3 students, as a part of a 2 months project.
  <br>
  The portal has features like renting a car, reserving a car and returning a car.
  <br>
  Fines were imposed on misuse of any particular feature, also a feature to block a particular user was provided.
  <br><br>
  For detailed description check out the project
  <a href="https://github.com/darshanbhandari123/Car--rental-app" target="_blank">Github</a>
  <br>
  The webiste is hosted:-
  <a href="https://evening-citadel-75427.herokuapp.com/" target="_blank">here</a>
</p>
