<h2>Open Source Contribution:- Expertiza</h2>

<p>
  It is an NSF approved webiste that was used in our course to evaluate other peers and solve all assignments.
  <br>
  Graded work was also shown here.
  <br>
  Basically, we needed to capture user behaviour, as to how much time was spent in providing reviews for a student.
  <br><br>
  For more detail check out the links provided here:-
  <br>
  <a href="https://github.com/darshanbhandari123/expertiza" target="_blank">Github1</a>
  <br>
  <a href="https://github.com/jerry-shijieli/expertiza" target="_blank">Github2</a>
  <br>
  <a href="https://github.com/shreyaszagade/expertiza" target="_blank">Github3</a>
</p>
