<h2>Attendance Management Application</h2>
<br><br>

<p>
  The Application needs an NFC enabled smart phone to perform the desired functionalities.
  <br>
  The basic idea is to have an NFC chip with a unique ID associated with each Student ID card.
  <br>
  The teachers will have our application installed on thier smart phone, the smart phone should be circulated to each student who can mark his Attendance using his/her ID card.
  <br>
  The app has features for blocking any particular student or deducting his/her Attendance etc.
</p>
