<br>
<br>
<br>
<br>

<div class="list-group">
    <a class="list-group-item">Structured Programming Approach</a>
    <a class="list-group-item">Object-oriented Programming Methodology</a>
    <a class="list-group-item">Data Structures</a>
    <a class="list-group-item">Design and Analysis of Algorithms</a>
    <a class="list-group-item">Operating System</a>
    <a class="list-group-item">Database Management System</a>
    <a class="list-group-item">Distributed databases</a>
    <a class="list-group-item">Object-oriented Design and Development</a>
    <a class="list-group-item">Automated Learning and Data Analysis</a>
    <a class="list-group-item">User Experience</a>
    <a class="list-group-item">Web Development</a>
    <a class="list-group-item">Mobile Development</a>
    <a class="list-group-item">Software Engineering</a>
    <a class="list-group-item">Software Security</a>
    <a class="list-group-item">Internet Protocol</a>
    <a class="list-group-item">Parellel and Distributed Systems</a>
</div>
